html,head{
    margin:0;
    }
    table{
       border-collapse: collapse;
    }
    th,td{
        border:2px solid green;
        padding : 10px;

    }
    th{
        background-color: rgb(253, 228, 228);
    }
    tr:nth-child(even){
        background-color: rgb(213, 177, 247);
    }
    tr:nth-child(odd){
        background-color: rgb(255, 249, 164);
    }
    a{
        padding: 1%;
        color:rgb(0, 0, 0);
        background-color:  rgb(180, 243, 243);
    }
    ul{
        padding-right:90vh;
      background-color: rgb(199, 187, 187);
      color:rgb(6, 6, 61)
    }
    body{
        background-color: rgb(183, 230, 91) ;
       
    }